<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create New Post</h1>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Username"/></br></br>
        <textarea name="content" placeholder="What's on your mind?"></textarea></br></br>
        <button type="submit">Post</button>
    </form>
</body>
</html>